@use "../mixins"
@use "../variables"
    
    
.header-container
    width: 100%
    box-sizing: border-box
    height: 100px
    padding-left: 20px
    display: flex
    align-items: center
    

    .icon
        min-width: 2rem
        width: 4.5rem
        margin-right: 40px
        margin-left: 3rem
        fill: white

    h1
        font-size: 2.8rem
        text-transform: uppercase
        background: variables.$gradient
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent

        @media (max-width: 930px)
            background-color: yellow
            padding-right: 20px
            font-size: 2rem

    .linktree
        width: 150px
        height: 50px
        background: #e6e6e6
        color: #363636
        border-radius: 10px
        padding: 0.4rem
        text-decoration: none
        font-weight: 600
        margin-right: 20px
        @include mixins.center
        box-shadow: variables.$blank-box-shadow

        &:hover
            color: white
            background: variables.$gradient
            transform: scale(1.2)
            box-shadow: variables.$orange-box-shadow

        &:after
            position: relative
            width: 1px
            height: 10px
            background-color: white